html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justifyContentBetween {
  justify-content: space-between;
}

.gap-4 {
  gap: 4;
}

.gap-8 {
  gap: 8;
}

.bg-grey-1 {
  background-color: #F2F2F2;
}

.bg-green-1 {
  background-color: #38AC5F;
}

.spacing-8 {
  padding: 8px;
}

.border-radius-8 {
  border-radius: 8px;
}

.cursor-pointer {
  cursor: pointer;
}